In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

1. Load the Dataset: Use Pandas to read the sales_data.csv file into a Dataframe.

In [11]:
df = pd.read_csv('sales_data.csv')

In [ ]:
df.head(10)

2. Clean the Data:
- a. Check for missing values adn fill or drop them as appropriate.
- b. Convert the Order_Date column to datatime format.

In [ ]:
# a
df.isnull().sum()

In [14]:
# b
df['Order_Date'] = pd.to_datetime(df['Order_Date'])

3. Analysis:
- a. Add a new column Total that claculates the total price for each order.
- b. Findthe top 5 products by total sales.
- c. Calculate total sales and average order value for each city.

In [20]:
# a
df['Total'] = df['Price'] * df['Quantity']
df.head(10)

,Order_ID,Product,Category,Quantity,Price,Order_Date,Customer_City,Total
0,ORD1000,Keyboard,Accessories,2,420,2023-01-01,Phoenix,840
1,ORD1001,Laptop,Electronics,5,416,2023-01-02,Houston,2080
2,ORD1002,Laptop,Electronics,4,236,2023-01-03,Los Angeles,944
3,ORD1003,Mouse,Accessories,1,289,2023-01-04,Chicago,289
4,ORD1004,Phone,Electronics,5,424,2023-01-05,Los Angeles,2120
5,ORD1005,Laptop,Accessories,3,263,2023-01-06,Los Angeles,789
6,ORD1006,Keyboard,Accessories,3,464,2023-01-07,Houston,1392
7,ORD1007,Monitor,Electronics,2,415,2023-01-08,Los Angeles,830
8,ORD1008,Keyboard,Accessories,4,441,2023-01-09,Chicago,1764
9,ORD1009,Keyboard,Accessories,4,136,2023-01-10,Chicago,544

In [ ]:
# b
top_p = df.groupby('Product')['Total'].sum()

top_five = top_p.sort_values(ascending=False)

top_five